{% extends 'layout.html' %}
{% block head %}
  <title>資料庫</title>
{% endblock %}
{% block body %}
  <h1>資料來源: <a href="https://www.sinyi.com.tw/buy/list/Taipei-city/Taipei-R-mrtline/03-mrt/default-desc/">信義房屋</a>
    最後更新時間: {{ lastUpdateTime }}，資料筆數: {{ size }}</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">名稱</th>
        <th scope="col">地址</th>
        <th scope="col">房齡</th>
        <th scope="col">類型</th>
        <th scope="col">價格</th>
      </tr>
    </thead>
    <tbody>
      {% for info in infoList %}
        <tr>
          <td><a href = {{ info.link }}>{{ info.name }}</a></td>
          <td>{{ info.addr }}</td>
          <td>{{ info.year }}</td>
          <td>{{ info.houseType }}</td>
          <td>{{ info.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}